html {
  font-family: Arial, Helvetica, sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: green white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #d5f9ba;
  border-radius: 20px;
}

#app {
  height: 100vh;
  width: 100%;
  background: linear-gradient(179.75deg, #009688 23.12%, #d9dbd5 23.13%);
}

.sidebar {
  width: 40%;
  height: 90%;
  background-color: white;
}
.my-container {
  height: 90%;
}
.mainheader,
.sideheader {
  background-color: #eaeaea;
  height: 8%;
}
.type-message {
  background-color: #f3eeea;
  height: 7%;
}

.mainchat {
  width: 60%;
  height: 90%;
}
.chat {
  background-image: url(../img/mine.jpg);
  height: 85%;
  overflow-y: scroll;
}
.img-profile {
  width: 50px;
  margin-top: 0.3rem;
}
.img-chat {
  width: 70px;
  background-color: white;
}

.ltIcon,
.ctIcon,
.rtIcon {
  font-size: 20px;
}

.risposta {
  background-color: white;
}

.risposta,
.invio {
  width: 250px;
  border-radius: 10px;
}

.btn-bell {
  background-color: white;

  border: 0px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 0.5rem;
  margin-right: 0.7rem;
  width: 3rem;
  height: 3rem;
}
.mybell {
  color: #8edafc;
  font-size: 20px;
}

.desktop-notification {
  background-color: #8edafc;
  height: 10%;
}
#cerca {
  border: 0px;
  width: 80%;
}
.grey-text {
  color: #617d84;
}
.lightgrey-background:hover {
  background-color: rgba(213, 249, 186, 0.5);
  border-radius: 20px;
  transition: 0.4s;
}
.active {
  background-color: rgba(213, 249, 186, 0.5);
  border-radius: 20px;
}

.message-wrapper {
  position: relative;
  min-width: 40%;
  max-width: 60%;
  font-size: 15px;
  margin: 5px 10px;
  background-color: white;
  padding: 15px 15px 10px;
  border-radius: 10px;
}

.message-chat {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.message-chat .sent {
  align-self: flex-end;
  background-color: #d5f9ba;
}

.smile {
  font-size: 20px;
}

.input-message {
  width: 80%;
  height: 2.5rem;

  border-radius: 5px;
  border: 0px;
}
.myset{
  all: unset;
  padding-top: 0.5rem;
}

.input-icons {
  font-size: 25px;
}

.myoverflow {
  overflow-y: scroll;
  height: 70%;
}
