html {
  font-family: Arial, Helvetica, sans-serif;
}

.debug {
  border: 1px solid black;
}
#app {
  height: 100vh;
  width: 100%;
  background: linear-gradient(179.75deg, #009688 23.12%, #d9dbd5 23.13%);
}
.sidebar {
  width: 40%;
  height: 80%;
  background-color: white;
}

.mainheader,
.sideheader {
  background-color: #eaeaea;
  height: 60px;
}
.type-message {
  background-color: #f3eeea;
  height: 55px;
}

.mainchat {
  width: 60%;
}
.chat {
  overflow-y: scroll;
  height: calc(100% - 115px);
  background-image: url(../img/mine.jpg);
}
.img-profile {
  width: 50px;
}
.img-chat {
  width: 70px;
  background-color: white;
}

.ltIcon,
.ctIcon,
.rtIcon {
  font-size: 20px;
}

.risposta {
  background-color: white;
}

.risposta,
.invio {
  width: 250px;
  border-radius: 10px;
}

.btn-bell {
  background-color: white;

  border: 0px;
  border-radius: 50%;

  padding: 0px 8px;
  margin: 15px 5px 10px;
  margin-left: 10px;
}
.mybell {
  color: #8edafc;

  padding: 3px;
  font-size: 20px;
}

.desktop-notification {
  background-color: #8edafc;
}

.grey-text {
  color: #617d84;
}

.active:hover {
  transition: 0.3s;
  background-color: #e9ebeb;
}

.message-wrapper {
  position: relative;
  min-width: 40%;
  max-width: 60%;
  font-size: 15px;
  margin: 5px 10px;
  background-color: white;
  padding: 15px 15px 10px;
  border-radius: 10px;
}

.message-chat {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.message-chat .sent {
  align-self: flex-end;
  background-color: #d5f9ba;
}

.smile {
  font-size: 20px;
}

.input-message {
  height: 30px;
  border-radius: 5px;
  border: 0px;

  width: 80%;
}

.input-icons {
  font-size: 25px;
}

.myoverflow {
  overflow-y: scroll;
}
